<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SANES SANAT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Css", false)
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<style>
             #body {
                 background-image: url('Img/IMG_0642.JPG');
                 background-repeat: no-repeat;
        /*         background-attachment: fixed;
                 background-size: cover;*/
                 background-size: 100% 30%;
             }

         </style>*@
    <style>
        #font {
            color: mediumpurple;
            /* font-family: verdana;*/
            font-size: 200%;
        }
    </style>
    <style>
        #body {
            background-color: ghostwhite;
        }
    </style>
    <style>
    .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
    display: none;
    }

    /* Style navigation menu links */
    .topnav a {
    color: darkgray;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }

    /* Add a grey background color on mouse-over */
    /* .topnav a:hover {
    background-color: #ddd;
    color: gray;
    } */

    /* Style the active link (or home/logo) */
   /*  .active {
    background-color: #04AA6D;
    color: white;
    } */
    </style>
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</head>

<body id="body">
    @*<section class="bg-light" id="comments">
            <div class="container">
                <div class="row-py-4">
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Yorumlar</h5>
                                <hr />
                                <blockquote class="border-bottom">
                                    <div class="float-end">

                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>*@

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

              @*   <div>
                <ul class="nav-item dropdown">
                    <li class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Kategori</li>
                    <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="eticaret" asp-action="List/Yagli Boyalar">Yağlı Boyalar</a></li>
                            <li><a class="dropdown-item" asp-controller="eticaret" asp-action="List/Sulu Boyalar">Sulu Boyalar</a></li>
                            <li><a class="dropdown-item" asp-controller="eticaret" asp-action="List/Minyatür">Minyatür</a></li>
                            <li><a class="dropdown-item" asp-controller="eticaret" asp-action="List/Özgür Yapraklar">Özgür Yapraklar</a></li>
                    </ul>
                </ul>
                </div> *@
                <div>
                    <div class="topnav">
                        <a class="active">~</a>
                        <!-- Navigation links (hidden by default) -->
                        <div id="myLinks">
                            <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                            <a asp-controller="eticaret" asp-action="List/Yagli Boyalar">Yağlı Boyalar</a>
                            <a asp-controller="eticaret" asp-action="List/Sulu Boyalar">Sulu Boyalar</a>
                            <a asp-controller="eticaret" asp-action="List/Minyatür">Minyatür</a>
                            <a asp-controller="eticaret" asp-action="List/Özgür Yapraklar">Özgür Yapraklar</a>
                            <a asp-controller="Home" asp-action="Iletisim">İletişim</a>
                        </div>
                        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="nav navbar-nav">
                        <br />
                        <br />
                    </ul>
                    <ul class="nav navbar-nav">
                        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>*@
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Create">Ürün ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="CategoryCreate">Kategori ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ProductList">Admin Ürünleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="CategoryList">Admin Kategorileri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="UsersList">Kullanıcı Listeleri</a>
                            </li>
                            @*<li class="nav-item">
                    <a class="nav-link text-dark" href="Card/Indexc">Sepet</a>
                </li>*@
                        }
                        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Card" asp-action="Indexc">Sepet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Card" asp-action="GetOrders">Siparişlerim</a>
            </li>*@
                    </ul>
@*                     <ul class="nav navbar-nav">
                        <br />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <li class="nav-item"><a asp-controller="" asp-action="r" class="nav-link text-dark"></a></li>
                            
                    </ul> *@
                   
                   
                  @*   <ul class="nav navbar-nav">
                        <br />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <li class="nav-item"><a asp-controller="" asp-action="r" class="nav-link text-dark"></a></li>

                    </ul> *@
                   @*  <ul class="nav navbar-nav">
                        <br />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <li class="nav-item"><a asp-controller="" asp-action="r" class="nav-link text-dark"></a></li>

                    </ul> *@
 @*                    <ul class="nav navbar-nav">
                        <br />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <li class="nav-item"><a asp-controller="" asp-action="r" class="nav-link text-dark"></a></li>

                    </ul>
                    <ul class="nav navbar-nav">
                        <br />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <li class="nav-item"><a asp-controller="" asp-action="r" class="nav-link text-dark"></a></li>

                    </ul> *@

                   
                    <ul class="nav navbar-nav">
                        <br />
                        @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>*@
                        <li class="nav-item"><a asp-controller="eticaret" asp-action="List/Yagli Boyalar" class="nav-link text-dark">YAĞLI BOYALAR</a></li>
                        <li class="nav-item"><a asp-controller="eticaret" asp-action="List/Sulu Boyalar" class="nav-link text-dark">SULU BOYALAR</a></li>

                    </ul>
                    <br />
                    <ul class="nav navbar-nav ">
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-dark"><img src="~/Img/Sanes logo 3d 12-73.73.75 3.png" style="width:150px;height:80px;"></a></li>

                        <br />
                    </ul>
                    <ul class="nav navbar-nav ">
                        <li class="nav-item"><a asp-controller="eticaret" asp-action="List/Minyatür" class="nav-link text-dark">MİNYATÜR</a></li>

                        <li class="nav-item"><a asp-controller="eticaret" asp-action="List/Özgür Yapraklar" class="nav-link text-dark">ÖZGÜR YAPRAKLAR</a></li>
                    </ul>
                    <br />

                    @*<li class="nav-item"><a asp-controller="Home" asp-action="IadeKosullari" class="nav-link text-dark"> İade Koşulları </a></li>*@
                    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="RoleEdit">Privacy</a>
        </li>*@

                    @*<li class="nav-item">
        <a class="nav-link text-dark" href="Account/Register">Register</a>
        </li>*@

                    @*<br />*@
                </div>
              
                @*<form asp-controller="Home" asp-action="Search" class="form-inline">
            <input name="q" type="text" class="form-control ml-1" placeholder="Search" />
            <button type="submit" class="btn btn-light ml-0">Ara</button>
        </form>*@


                @*<br />*@
                @*<ul class="nav navbar-nav navbar-right">
            <li class="nav-item">İletişim</li>
        </ul>*@
                @*<ul class="nav navbar-nav">
        <li class="nav-item"><a asp-controller="Home" asp-action="Iletisim" class="nav-link text-dark"> İletişim</a></li>
        <li class="nav-item"><a asp-controller="Home" asp-action="IadeKosullari" class="nav-link text-dark"> İade Koşulları </a></li>*@

                @*</ul>*@
          

            <div class="navbar-collapse collapse d-sm-inline-flex  justify-content-end">
             @*    <ul class="nav navbar-nav">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Iletisim" class="nav-link text-dark"> İletişim</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a asp-controller="Account" asp-action="Manage" class="nav-link text-dark"> @User.Identity.Name</a></li>
                        <li class="nav-item"><a asp-controller="Account" asp-action="Logout" class="nav-link text-dark"> Çıkış Yap</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="nav-link text-dark"> Kayıt ol</a></li>
                        <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link text-dark"> Giriş Yap</a></li>
                    }

                </ul> *@
            </div>



                    <br />


            </div>

        </nav>

    </header>


    @*<ul class="nav flex-column">
            <li class="nav-item">
                <h6 class="nav-link list-group-horizontal-lg" aria-current="List" href="Home/List">Kategori</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Home/List">Karadeniz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Home/List">Karma</a>
            </li>
        </ul>*@


    <main class="mb-3">
        <p class="container">
            <div id="font">
                <div id="body">
                    @if (IsSectionDefined("Categories"))
                    {
                        @*<div class="row">
                                <div class="col-md-3">
                                    @RenderSection("Categories", false)
                                </div>
                                <div class="col-md-9">
                                    @RenderBody()
                                </div>
                            </div>*@
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <ul class="nav navbar-right">
                                    <li>@RenderSection("Categories", false)</li>
                                </ul>

                                <ul class="nav navbar-nav">
                                    @RenderBody()
                                </ul>
                            </div>
                        </nav>
                    }
                    @*else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    @if (TempData["message"] != null)
                                    {
                                        <div class="Row">
                                            <div class="col-md-12">
                                                <div class="alert alert-warning">
                                                    @TempData["message"]
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @RenderBody()
                                </div>
                            </div>
                        }*@
                </div>
            </div>
        </p>
    </main>

    <div class="row">
        @*<div id="body">*@
        <div class="col-md-12">

            @*@if (TempData["message"] != null)
                {
                    var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String);

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-@message.AlertType">
                                @message.Message
                            </div>
                        </div>
                    </div>
                }*@
            @RenderBody()
        </div>
    </div>
    @*</div>*@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
